---
layout: base.njk
---

<time class="font-bold ">{{ date | readableDate }}</time>
<aside class="prose lg:prose-xl my-5">{{ content | toc | safe }}</aside>
<article class="prose lg:prose-xl my-10">{{ content | safe }}</article>
