---
layout: base.njk
---

<time class="font-bold ">{{ date | readableDate }}</time>
<article class="prose lg:prose-xl my-10">
    <h1>{{ title | safe }}</h1>
    <aside class="prose lg:prose-xl my-5">{{ content | toc | safe }}</aside>
    {{ content | safe }}
</article>
