<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"> #}
    {# <link rel="stylesheet" type="text/css" href="/styles/a11y-dark.min.css"/> #}
    <link rel="stylesheet" type="text/css" href="/styles/tokyo-night-dark.css"/>
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Feed">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body class="">
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      <h1 class="text-3xl font-bold mb-8 ">{{title}}</h1>
      {{ content | safe }}
    </main>
  
</article>
    {% include "../components/footer.njk" %}
    <script src="/assets/main.js"></script>
  </body>
</html>