---
title: 404. Not Found.
layout: layouts/base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1 class="text-8xl text-center m-5">404</h1>
  <p class="text-center">Ressource not Found</p>
</div>