---
title: About
layout: base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

<contact class="prose">
  <div class="">
    <p class="text-xl ">From time to time I'll share some impressions and other unpredictable gems 💎</p>
  </div>

  <div class="">
    <div class="ml-0 w-60 ">
      <img class="" src="/img/biking-1000.jpg"/>
    </div>
  </div>

  <p class="mt-4">The easiest way to get in touch, is by <button class="" onclick="alert('renato' + '@' + document.domain);"><span class="text-cyan-700 underline">mail.</span></button> </p>
  
<ul class="list-none">
  <li><i class="fa-solid fa-mug-hot"></i></li>
  
  
  
  <li><i class="fa-solid fa-pepper-hot"></i></li>
  <li><i class="fa-solid fa-fish-fins"></i></li>
  <li><i class="fa-solid fa-bicycle"></i></li>
  <li></li>
  
</ul>
</contact>

