---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---

<p class="mt-4">The easiest way to get in touch with me is by mail:</p>
<ul>
  <li><a href="mailto:renatoheeb+web@gmail.com">renatoheeb@gmail.com</a></li>
</ul>
<p class="mt-4">But you can also find me on some other platforms like:</p>

<ul>
     {% for item in contact.items %}
     <li><a rel="me" href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
</ul>

