---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "{{ tag | title }}"
  description: "All posts tagged “{{ tag }}”"
---
<h1 class="mb-10">{{ tag | title }}</h1>

{% set postslist = collections[tag] %}
{% include "components/posts-list.njk" %}