---
title: Travel Blog
layout: base.njk
permalink: /blog/posts/travel/
eleventyNavigation:
  key: Travel Blog
  order: 1
---
{% set postslist = collections.travel | reverse  %}

{% include "postslist.njk" %}
