---
title: ciao
layout: layouts/base.njk
---

<div class="space-y-8">

  <div class="">
    <p class="text-3xl ">Welcome to my personal site.</p>
    <p class="text-xl m-6">From time to time I'll share some impressions and other unpredictable gems 💎✌️</p>
  </div>

<iframe allowfullscreen="" 
sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox" width="400" height="800" src="https://www.mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Fmstdn.social%2Fusers%2Fheebelcraft&amp;theme=light&amp;size=100&amp;header=false&amp;replies=false&amp;boosts=false">
</iframe>




<div class="avatar">
  <div class="w-24 mask mask-squircle">
    <img src="/img/light.jpg" />
  </div>
</div>


</div>
